<div class="banner text-center">
  <div class="banner-overlay">
    <div class="container">
      <h1 class="text-capitalize">Welcome to <%= current_user.type %>'s dashboard </h1>
      <br>
      <a href="<%= projects_path %>" class="banner-btn">Go to projects</a> </div>
  </div>
</div>
