<div class="banner text-center">
  <div class="banner-overlay">
    <div class="container">
      <h1 class="text-capitalize">Welcome to Bugzilla</h1>
      <p>Best platform for handling and maintaining projects and tracking their features and bugs.</p>
      <a href="<%= new_user_registration_path %>" class="banner-btn">Get Started</a> </div>
  </div>
</div>
